{{- range $entity := .Entities}}

-- {{$entity.Name}} selects:

    {{- /* regular selects */ -}}
    {{- range $select := $entity.SelectStatements}} 
-- name: Fetch{{$select.Name}} :many
SELECT {{ range $field := $entity.Fields -}}
            "{{$field.Name}}"
            {{- if eq $field.HasComma true}},{{end -}}
        {{- end}}
FROM "{{$entity.Name}}"
WHERE 
    {{range $field := $select.Fields -}} 
    "{{- $field.Name}}" = ? {{ if ne $field.IsLast true }}AND {{ end -}}
    {{- end}}{{- if eq $select.IsPrimary true }};{{- end}}
{{ if eq $select.IsPrimary false -}}LIMIT ?, ?;{{- end}}        
    {{ end }}

    {{- /* selects for update */ -}}
    {{- range $select := $entity.SelectStatements}} 
        {{- if eq $select.IsPrimary true }}
-- name: Fetch{{$select.Name}}ForUpdate :many
SELECT {{ range $field := $entity.Fields -}}
            "{{$field.Name}}"
            {{- if eq $field.HasComma true}},{{end -}}
        {{- end}}
FROM "{{$entity.Name}}"
WHERE 
    {{range $field := $select.Fields -}} 
    "{{- $field.Name}}" = ? {{ if ne $field.IsLast true}}AND {{ end -}} 
    {{- end}}
FOR UPDATE;
        {{ end -}}
    {{ end }}

    {{- range $select := $entity.SelectStatements}}
        {{- if eq $select.SortSupported true}}
            {{- range $timeField := $select.TimeFields}}
-- name: Fetch{{$select.Name}}OrderedBy{{$timeField.NameTitle}}ASC :many
SELECT {{ range $field := $entity.Fields -}}
            "{{$field.Name}}"
            {{- if eq $field.HasComma true}},{{end -}}
        {{- end}}
FROM "{{$entity.Name}}"
WHERE 
    {{range $field := $select.Fields -}} 
    "{{- $field.Name}}" = ? {{ if ne $field.IsLast true}}AND {{ end -}} 
    {{- end}} 
ORDER BY {{$timeField.Name}} ASC
LIMIT ?, ?;

-- name: Fetch{{$select.Name}}OrderedBy{{$timeField.NameTitle}}DESC :many
SELECT {{ range $field := $entity.Fields -}}
            "{{$field.Name}}"
            {{- if eq $field.HasComma true}},{{end -}}
        {{- end}}
FROM "{{$entity.Name}}"
WHERE 
    {{range $field := $select.Fields -}}
    "{{- $field.Name}}" = ? {{ if ne $field.IsLast true }}AND {{ end -}} 
    {{- end}} 
ORDER BY {{$timeField.Name}} DESC
LIMIT ?, ?;

            {{ end -}}
        {{ end -}}
    {{ end }}


{{end}}